body {
  margin: 0;
  padding: 0;
}

.cover {
  background-image: url(img/bg.jpg);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

div{
  display:flex;
  flex-flow: row wrap;
}

/*.body-header{
  text-align: left;
}*/

.body-main{
  text-align:center;
}

.float-right{
  float:right;
  padding-left: 20px;
  list-style:none;
}

.link{
float:left;
/*display:flex;*/
}
