body {
  margin: 0;
  padding: 0;
}

.cover {
  background-image: url(img/bg.jpg);
  background-repeat:no-repeat;
  background-position:center;
}

.body-div{
  display: flex;
  flex-flow: row wrap;
}

.body-header{
  text-align: left;
  flex:1;
}

.body-main{
  text-align:center;
}

.float-right{
  float:right;
}

.float-left{
float:left;
}
